[submodule "computer_enhance"]
	path = computer_enhance
	url = https://github.com/cmuratori/computer_enhance.git
[submodule "vender/tlsf"]
	path = vender/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "vender/StackWalker"]
	path = vender/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker.git
